<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
<Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
        <PatternLayout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] (%F:%L), %M() - %m%n
            </Pattern>
        </PatternLayout>
    </Console>
    <RollingFile
            name="RollingFile"
            fileName="./auto-steps.log"
            filePattern="./auto-steps.%i">
        <PatternLayout>
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%t] (%F:%L), %M() - %m%n
            </Pattern>
        </PatternLayout>
        <Policies>
            <OnStartupTriggeringPolicy/>
            <SizeBasedTriggeringPolicy size="32 MB"/>
        </Policies>
        <DefaultRolloverStrategy max="99" fileIndex="min"/>
    </RollingFile>
</Appenders>
<Loggers>
    <Logger name="com.qa.automation" level="DEBUG"/>
    <Root level="DEBUG">
        <AppenderRef ref="CONSOLE"/>
        <AppenderRef ref="RollingFile"/>
    </Root>
</Loggers>
</Configuration>